# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
.DS_Store

engine/GENERATED_**
driver
driver.exe
**/__pycache__

flux_editor
flux_editor.exe
test_render
test_render.exe

!ext/enet/enet.lib
!ext/enet/enet64.lib

build

FLUX_CONFIGURED